body{
  margin: 0;
  padding:0;
  font-family: arial,sans-serif;
  background-color: rgb(243, 243, 243);
}

li{
  list-style: none;
}
ul{
  margin:0;
  padding: 0;
}

h1,h2,h3{
  margin:0;
  padding:0;
}
  img {
    max-width: 100%;
  }
figure{
 margin:0;
 padding:0;
}
/*------------
---NAV--------
------------*/
.block__nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 2;
}
.marque__header{
  margin-top: 120px;
}
.URBANRIDE{
  width: 120px;
  font-size: 22pt;
  text-align: center;
  margin:8px 25px 8px 150px;
  margin-left: 150px;
}
.URBANRIDE a {
  text-decoration: none;
  color:#D71E3D;
}
.menu{
  display: flex;
  flex-flow: row;
  margin-left: 100px;
  margin-right: 50px;
}
.menu li{
  margin-right: 20px;
}
.menu a {
  text-decoration: none;
  color:black;
  font-size: 18pt;
  transition: all .2s;
}
.menu a:hover {
  color: #D71E3D;
}
/*-------------
-----HEADER----
-------------*/
.block__header{
  margin-top: 100px;
}
.header__accueil{
  display: flex;
  width: 80%;
  flex-flow: row;
  margin: 0 auto;
  height: 55vh;
  justify-content: space-between;
}
.main__info{
  width: 60%;
  height: 510px;
}
.main__info:hover .spoiler__header{
  opacity: 1;
}
.title{
  text-align: center;
  font-size: 26pt;
}
.top__info__img{
  height: 100%;
  width: 100%;
  transition: all .3s;
}
.top__info__img:hover{
  -webkit-box-shadow: 10px 10px 76px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 76px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 76px 0px rgba(0,0,0,0.75);
}
.sub__info{
  display: flex;
  flex-flow: row wrap;
  width: 38%;
  height: 85%;
}
.sub__info img{
  height: 100%;
}
.sub__info__block{
  width: 45%;
  height: 50%;
  margin-bottom: 50px;
  margin-right: 25px;
  position: relative;
  transition: all .3s;

}
.sub__info__block:hover{
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}
.sub__info__block:hover .spoiler__header{
  opacity: 1;
}
.main__info{
  position: relative;
}
 .spoiler__header{
  margin-top: 10px;
position: absolute;
background-color: rgba(0,0,0,0.7);
color: white;
font-style: italic;
bottom: 0;
width: 100%;
text-align: center;
transition: all .3s;
font-size: 1.3rem;
opacity: 0;
}
.sport__big__spot{
  position: relative;
}

/*-------------------
----MAIN-ARTICLE-----
-------------------*/

.sport__main{
  display: flex;
  flex-flow: column wrap;
  width: 95%;
  margin: 50px auto;
}
.sport__main .article__preshow__description{
  line-height: 2.5em;
}
.article__preshow__description {
  line-height: 1.5;
}
.new_article{

  display: flex;
  flex-flow: column;
  width: 30%;
  margin-left: 50px;
}
.call_modif{
  font-size: 16pt;
  margin : 20px 0px 10px 50px ;

}
.call_modif_header{
  font-size: 16pt;
  margin : 150px 0px 10px 50px ;
}
.haut {
  margin-bottom: 20px;
}
.form_cms{
  margin-left: 50px;
}
.new_article input{
  margin-top: 20px;
}
.new_article select{
  margin-top: 20px;
}
.block__main{
  display: flex;
  flex-flow: row;
  width: 80%;
  margin: 50px auto;
  align-items: flex-start;
}
.article__wrapper{
  display: flex;
  flex-flow: column;
  width: 75%;
  margin:15px auto;


}
.article__contenu{
  text-align: left;
  line-height: 1.8;
  width: 60%;
  margin:0 auto;
  font-size: 16pt;
  font-family: verdana;
}
.article__title{
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}
.logo{
  width: 200px;

}
.login_call{
  margin-left: 150px;
  text-align: center;
  margin-bottom: 10px;
}
.block__nav>a{
  margin-left: 100px;
}
.main_article_sport{
  width: 90%;
  margin: auto;
}
.article__img{
  width: 100%;
  margin: auto;
}
.img_holder{
  margin:50px  auto;
  width: 50%;
}
.article__wrapper a {
    text-decoration: none;
    color: black;
    margin-bottom:50px;

}
.article__block{
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  padding: 10px 10px;
  transition: all .3s;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);

}
.article__preshow__description__aside{
  margin-top:5px;
  margin-bottom:5px;
}
.article__block:hover{
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);

}
.header_article_sport{
  width: 60%;
  margin-top: 100px;
  margin:auto;
}
.block__info{
  width: 70%;
  margin-left: 40px;
  line-height: 1.7;
}
.article__preshow__img{
  width: 20%;
  height: 200px;
}
.block__aside{
  width: 10%;
  margin-right: 50px;
}
.title{
  margin-top: 50px;
}
.actu{
  margin-top: 150px;
  margin-bottom: 40px;
}
.article__aside{
  margin-top: 35px;
}
.newsletter{

}
img {
  max-width: 100%;
}
.header__sport{
  height: 30vh;
  margin-top: 120px;
  margin: 0 auto;
  width: 80%;
}
.sport__main .article__wrapper {

}
.sport__main h2{
  margin-top:30vh;
  margin-bottom: 25px;
  text-align: center;
  font-size: 28pt;
}
.submit__newsletter{
margin-left: 10px;
margin-top: 10px;
width: 100%;
}
.sport__big__spot{
  width: 60%;
  margin:50px auto;
  height: 100%;
}
.sport__big__spot__img{
  width: 100%;
  height: 100%;
}


/*------------
------CONTACT----
-------------*/

.container{
  text-align: center;
  margin: 60px 0;
}

.container p{
  font-size: 2rem;
  font-family: roboto, arial;
  font-weight: 600;
}

.contact{
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin:0 25.5%;
  margin-bottom: 3rem;
}

.champs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.champs.adresse-e{
  display: flex;
  flex-flow: column;
}

.champs.adresse-e input[type=mail]{
  width:100%;
}

.champs.message{
  display: flex;
  flex-flow: column;
}

.input-nom{
  margin-right: 50px;
}

.contact label{
  font-size: 1.5rem;
  font-family: roboto, arial;
  font-weight: 600;

}

.contact label::after{
  content:'*';
  color:#8c0e0e;
  font-size:1.8rem;
}

.contact input{
  border-radius: 80px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 100px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  font-size: 1.2rem;
  font-style: italic;
}

.contact textarea{
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 80px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  font-size: 1.2rem;
  font-style: italic;
  font-family: roboto, arial;
}

.contact input[type=submit]{
  background: #8c0e0e;
  color:white;
  font-weight: bold;
  font-style:normal;
  padding:10px 20px;
  text-align: center;
  width:130px;
  border:none
}

.contact input[type=submit]:hover{
  background-color: rgba(140, 14, 14, 0.6);
  transition: ease-in 0.1s;
 cursor: pointer;
}
.body_contact .container{
  margin-top: 120px;
}
.icon {
  font-size: 25pt;
  color: black;
}
.fas.icon{
  color: #8c0e0e;
}
.reaction_block a {
  margin-right: 10px;
}
.reaction_block{

 margin-left: 70%;
 margin-bottom: 100px;
}
